.oe_topbar_name {
    max-width: 400px !important;
}

.company_logo_login_page {
    /* display: inline-block;
    width: 15%;
    padding-top: 15px !important; */
    display: inline-block;
    width: 30%;
    padding-top: 80px !important;
    padding-bottom: 25px !important;
}

.sub_group {
    border: 1px solid mediumslateblue;
    border-radius: 5px;
    border-spacing: 0;
    border-collapse: separate !important;
    margin: 0px !important;
}

.sub_group tr td {
    padding-left: 5px !important;
}
