.action-btn-icon {
    background-size:18px 18px !important;
    background-color: #7c7bad !important;
    padding-left: 22px;
    margin: 2px;
}

.tree-btn-icon {
    height: 20px;
    width: 20px;
    background-size:18px 18px !important;
    border: 0px;
    border-radius: 2px;
}

.btn-connect {
    background: url(/logscleaning/static/src/img/connect.png) left no-repeat;
}

.btn-update {
    background: url(/logscleaning/static/src/img/update.png) left no-repeat;
}
